.container {
    height: 45vh;
    width: 37vw;
    box-shadow: 0px 0px 5px rgb(195, 188, 188);
    background-color: rgb(34, 175, 180);
    border-radius: 5px;
    background: linear-gradient(45deg, cyan, rgb(162, 228, 9));
    background-position: 100%;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #242424;
}

.main {
    width: 100%;
    display: none;
}

p {
    text-align: center;
    font-size: 100%;
    background: linear-gradient(45deg, blue, red);
    background-clip: text;
    color: transparent;
}

h1 {
    text-align: center;
    font-size: 183%;
    background: linear-gradient(45deg, rgb(8, 177, 109), rgb(255, 0, 0), rgb(255, 0, 166));
    background-clip: text;
    color: transparent;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: -2px; */
    margin-top: 41px;
}

.message {
    text-align: center;
    /* margin-bottom: 30px; */
    margin-top: 44px;
    background: linear-gradient(45deg, rgb(241, 4, 4), rgb(76, 0, 255));
    background-clip: text;
    color: transparent;

}

.st {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start {
    height: 38px;
    width: 31%;
    border-radius: 5px;
    border: none;
    background: green;
    color: white;
    font-size: larger;
    cursor: pointer;
    position: absolute;
    top: 45%;
}

.cl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Close {
    height: 38px;
    width: 31%;
    border-radius: 5px;
    border: none;
    background: red;
    color: white;
    font-size: larger;
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 3px;
}

input {
    width: 60px;
    margin-right: 10px;
    background: rgb(53, 52, 52);
    color: white;
    border-radius: 2px;
    border: none;
    height: 20px;
    text-align: center;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res {
    display: none;
    height: 29px;
    width: 126px;
    font-size: 131%;
    border: none;
    background-color: #da00ff;
    color: #0818b0;
    border-radius: 13px;
    cursor: pointer;
}

.ms {
    text-align: center;
    /* margin-bottom: 30px; */
    margin-top: -14px;
    margin-bottom: 37px;
    font-size: 4vh;
}

.click {
    background: red;
    color: blue;
    border-radius: 5px;
    border: none;
    font-size: larger;
    cursor: pointer;
    color: white;
}

h2 {
    text-align: center;
    display: none;
    background: linear-gradient(to top, #a8da0a, #df0f33, blue);
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width : 667px) {
    .container {
        width: 95%;
        height: 44vh;
    }

    h1 {
        text-align: center;
        font-size: 7vw;
    }

    .res {
        margin-top: 20px;
    }

    input {
        height: 25px;
        width: 90px;
        font-size: larger;
        text-align: center;
    }

    button {
        height: 40px;
        width: 100px;
        font-size: 110%;
    }

    .ms {
        margin-top: 20px;
        font-size: 6vw;
    }
}